@model List<CandyShopEcommerce.MVC.ViewModels.ProductViewModel>

<!DOCTYPE html>

<html>
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #FFB6C1;
        }

        div.gallery {
            border: 1px solid #ccc;
            float: left;
            width: 180px;
            margin-left: 40px;
            margin-top: 25px;
        }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: auto;
                box-shadow: 2px 2px black;
            }

        div.desc {
            padding: 15px;
            text-align: center;
            box-shadow: 2px 2px black;
        }

        #productsContainer {
            margin-left: 220px;
            margin-top: 50px;
            border: 10px solid #ff00ff;
            height: 600px;
            max-width: 900px;
            background-color: white;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Content/css/Home.css" />
</head>
<body>    
    <div style="background-color: black; height: 180px; width: 100%; text-align: center">
        <h1 style="color: white;">Insane Promotion Right Now!</h1>
        <h3 style="color: white;">Most products are 25% off</h3>
    </div>
    <div class="container2">
        <div class="con">
            @foreach (var product in Model)
            {
            <form method="post" action="/Products/Details">
                <button type="submit" id="btnItem">
                    <div class="card" style="width: 18rem; margin-top: 10px;">
                        <img class="img-fluid rounded-start" src="@product.ImageDirectory" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">@product.Name<br /><span class="price">$@product.SalePrice</span></p>
                        </div>
                    </div>
                </button>
                <input type="hidden" name="model.Id" value="@product.Id" />
                <input type="hidden" name="model.Name" value="@product.Name" />
                <input type="hidden" name="model.SalePrice" value="@product.SalePrice" />
                <input type="hidden" name="model.Description" value="@product.Description" />
            </form>
            }            
        </div>
    </div>
</body>
</html>
